/* body {
  background-color: rgb(160, 189, 118)
}

table {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  margin: 3vw;
  background-color: wheat;
  padding: 2vw;
  border: 2px solid #285430;
  width: 30vw;
  height: auto;
  border-radius: 40px;
  box-shadow: 0 0 25px #285430;
} */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: bisque
}

#productos {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#productos th, #productos td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

#productos th {
  background-color: #f8f8f8;
}


