body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #007bff;
}

.profile-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width:30vw;
  height:35vh;
  text-align: center;
  border-radius: 5%;
  padding-left: 3vw;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.profile-field {
  margin: 10px 0;
  text-align: left;
}

.logout-button {
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 30px;
}

.logout-button:hover {
  background-color: #c9302c;
}

.logout-button:focus {
  outline: none;
}
