<h1>Chat del Ecommerce</h1>
<ul id="messages"></ul>
  <input id="input" autocomplete="off" /><button id="sendButton">Enviar</button>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>