<div class="current-container">
  <h2>Información Actual</h2>
  <br><br>
  <div class="current-field">
    <strong>Id de Cliente:</strong> {{user._id}}
  </div>
  <div class="current-field">
    <strong>Nombre:</strong> {{user.name}}
  </div>
  <div class="current-field">
    <strong>Apellido:</strong> {{user.lastname}}
  </div>
  <div class="current-field">
    <strong>Rol:</strong> {{user.role}}
  </div>
</div>

<script src="/js/current.js"></script>