<div class="profile-container">
  <h2>Perfil de usuario</h2>
  <br><br>
  <div class="profile-field">Nombre: {{user.name}}</div>
  <div class="profile-field">Apellido: {{user.lastname}}</div>
  <div class="profile-field">Edad: {{user.age}}</div>
  <div class="profile-field">Email: {{user.email}}</div>

  <form action="/logout" method="post">
    <button class="logout-button" type="submit">Cerrar sesión</button>
  </form>
</div>