
<div class="profile-container">
  <h1>Perfil de usuario</h1>
  <br><br>
  <div class="profile-field"><strong>Nombre: </strong>{{user.name}}</div>
  <div class="profile-field"><strong>Apellido: </strong>{{user.lastname}}</div>
  <div class="profile-field"><strong>Edad: </strong>{{user.age}}</div>
  <div class="profile-field"><strong>Email: </strong>{{user.email}}</div>

  <form action="/logout" method="post">
    <button class="logout-button" type="submit">Cerrar sesión</button>
  </form>
</div>
