<h2>Recuperar contraseña</h2>

<form action="/api/session/recovery_password" method="POST">
  Email: <input type="text" name="email"><br><br>
  <input type="submit" value="Enviar al email el token de recuperación">
</form>

<script src="/js/recovery_password.js"></script>